/*head {
	background-image: url(images/SAGE.png);
}*/

body{
	background-image: url(../images/background2.png);
	/*background-image: url(../images/overlay.);*/
	background-size: 1920px 1080px;
			-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 1920px;
}

h1, p, h2, h3 {
	color: #fff;
	max-width: 75%;
	margin-left: 100px;
}

header img {
	margin-left: 100px;
	margin-top:-10px;
	padding:0;
}

#background {
	margin-left: 100px;
}


h1 {
	font-family: 'Teko', sans-serif;
	font-size: 120px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: -30px;
}

main h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 26px;
	font-weight: normal;
}

main p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: normal;
}


aside h2 {
	font-family: 'Teko', sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

aside p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	font-weight: normal;
}

ul h3 {
	font-family: 'Teko', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}

form {
	padding-left: 100px;
}

form input {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: normal;
	width: 350px;
	height: 50px;
	display: inline-block;
}

form button {
	font-family: 'Teko', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	margin-left: -5px;
	padding-bottom: 10px;
	
}

button {
	display: inline-block;
	background-color: #f63c3c;
	border: none;
	height: 57px;
	padding: 15px;

}


#twitter::before {
	content:url(../images/twitter.png);
	margin-right: 12px;
}

li a {
	font-family: 'Teko', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

article p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	font-weight: normal;
	max-width: 30%;
	margin-left:40px;
}

article time {
	font-family: 'Teko', sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

time {
	color: #959595;
	margin-left:40px;
}



footer small, nav {
	font-family: 'Titillium Web', sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #959595;
	margin-left: 100px;
}

nav ul li a {
	
	color: #959595;
	font-family: 'Titillium Web', sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-transform: normal;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style:none;
	display: inline;
	/*float:right;*/

}

small {
	display: inline;
	float: left;
}

nav {
	float: left;
}

li {
	color: #959595;
	margin-left: 100px;
}


